*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(138, 138, 138);
    font-family: sans-serif;
    outline: none;

}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.calculator{
    background-color: rgb(46, 46, 46);
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 3px 3px 6px white,
                      5px 5px 12px black;
    display: grid;
    grid-template-columns: repeat(4,68px);
}
input{
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: white;
    box-shadow: inset -5px -5px 12px white,
                inset 5px 5px 12px black;
    border: none;
    border-radius: 30px;
    color: rgba(70,70,70);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
}
button{
    height: 40px;
    width: 40px;
    background-color: white;
    box-shadow: -3px -3px 6px rgb(122, 121, 121),
                5px 5px 12px black;
                border: none;
    border-radius: 30%;
    margin: 8px;
    font-size: 16px;
}
.equal{
    width: 115px;
    border-radius: 40px;
    background-color: rgb(36, 202, 116);
    box-shadow: -3px -3px 6px rgb(122, 121, 121),
    5px 5px 12px black;
    border: none;
}
.delete{
    background-color: rgb(202, 36, 36);
    box-shadow: -3px -3px 6px rgb(122, 121, 121),
    5px 5px 12px black;
}